*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: #e54065;
  --bgDefault: #f4f5f9;
  --bgFilter: #e1e4ea;
  --bgRead: #f2f2f2;
  --border: #cfd2dc;
  --text: #636363;
}
